.navigation li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.navigation li:hover {
    text-decoration: underline;
}

.navigation a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-active {
    color: purple !important;
}